.navbar{
    display: flex; 
    border-bottom: 1px solid #333;
}

body{
    background-color:#f6f4f3;
    margin: 100px;
}

.optionsNavBar{      
    font-weight: bold;
    text-transform: uppercase;
    display: flex; 
    justify-content:space-around; 
    flex: 2;
    align-items: center;
    list-style: none;  
    
}

.optionsNavBar li a {
    text-decoration: none;
    color: black;
  }